#buy_dropdown{
    width: 250px;
}

#nav_buy_btn{
    color: black;
    background-color: white;
    border:none;
}    
#nav_buy_btn:hover{
    color:blue;
}

#nav_sell_btn{
    color: black;
    background-color: white;
    border:none;
}

#nav_rent_btn{
    color: black;
    background-color: white;
    border:none;
}