#row_main_btn{
    display: flex;
    max-width: 1000px;
    margin: auto;
}

.main_options_btn{
    flex-basis: 280px;
    padding: 24px;
    text-align: center;
    -moz-box-flex: 2;
    flex-grow: 2;
    height: 400px;
    width: 354px;
    background: white;
    border-radius: 2px;
    margin: 30px;
    box-shadow: rgb(209, 209, 213) 0px 0px 4px;
    border: medium none;
}

.main_options_btn:hover{
    border: medium 1px;
}

#main_ops_container{
    margin: 50px 0;
}

#b1{
    text-decoration: none;
}
#b1:hover{
    box-shadow: rgb(209, 209, 213) 0px 0px 10px;
}
#b2{
    text-decoration: none;
}
#b2:hover{
    box-shadow: rgb(209, 209, 213) 0px 0px 10px;
}
#b3{
    text-decoration: none;
}
#b3:hover{
    box-shadow: rgb(209, 209, 213) 0px 0px 10px;
}

/* Medium screens */
@media all and (max-width: 800px) {
  #row_main_btn {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
  .main_options_btn{
      width: 75%;
      margin:auto;
      margin-top: 20px;
      
  }
}
